{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform}]}.
{erl_opts, [debug_info]}.

%% exmpp is not yet rebarified, MUST be included in path externally
{deps, [
	{edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}},
	{lager, "1.0.0", {git, "git://github.com/basho/lager", {tag, "1.0.0"}}},
	{mochiweb, "2.3.1", {git, "git://github.com/mochi/mochiweb", {tag, "v2.3.1"}}},
	{cowboy, "0.4.0", {git, "git://github.com/extend/cowboy.git", {tag, "0.4.0"}}}
]}.